/* Style de base pour le composant TabWidget */
.container_carnetmedical {
    background-color: #ffffff;
    padding: 0px;
}

nav {
    background: linear-gradient(to bottom right, rgba(196, 2, 212, 0.67), rgba(31, 223, 217, 0.67));
    color: #ffffff;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3); 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; /* Modifier pour éviter les marges indésirables */
}

nav li {
    margin: 0px 20px; /* Réduire la marge pour un aspect plus compact */
    padding: 5px;
    cursor: pointer;
}

.carnet-medical_carnetmedical {
    padding: 20px;
    margin-left: 10px;
    color: #9d24ab;
}
.carnet-medical_carnetmedical h1 {
    font-size: 32px;
    margin-left: 30%;

}

.tab-widget {
    margin-left: -10px;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tab-buttons {
    display: flex;
    justify-content: flex-start; /* Aligner les boutons à gauche */
    background-color: #ffffff;
    padding: 1px;
}

.tab {
    font-size: 17px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    background-color: #b649cbe3;
    margin-right: 5px;
    color: #ffffff; /* Ajouter une couleur de texte */
    border-color: #6ba7d7;
}

.tab.active {
    background-color: #289dc3;
    border-bottom: 3px solid #9679d1;
    border-color: #d6affe;
}

.tab-content {
    flex: 1;
    padding: 20px;
    background-color: #c2aaca69;
    border: 1px solid #d9d4d4;
    border-radius: 0 0 5px 5px;
}
.window{
    font-size: 18px;
}


.carnet_carnetmedical  {
    width: 300px;
    height: auto;
    position: absolute;
    top: 150px; /* Peut être ajusté si nécessaire */
    right: 35px; /* Positionne l'image sur le côté droit */
}
.infopers_carnetmedical  {
    width: 200px;
    height: auto;
   margin-bottom: -30px;
   transform: translateX(-10%);
   
    right: 60px; /* Positionne l'image sur le côté droit */
}
.consult1_carnetmedical {
    width: 300px;
    height: auto;
   
}

.infopers1_carnetmedical {
    width: 250px;
    height: auto;
    margin-left: 50px;

}
.right_carnetmedical {
    width: calc(50% - 10px); /* Déduction de la marge pour maintenir le total à 100% */
    float: left; /* Aligner à gauche */
    margin-right: 0px; /* Espacement entre la partie gauche et la partie droite */
  } 
  .right_carnetmedical p{
    font-size: 20px;
    margin: 7px;
    margin-top: 10px;
    padding: 1px;
    margin-left: 20px;
    color: #2c0c5a;



} 
  .left_carnetmedical {
    width: calc(50% - 50px); /* Déduction de la marge pour maintenir le total à 100% */
    float: right ; /* Aligner à droite */
    margin-left:0px; /* Espacement entre la partie gauche et la partie droite */
}
/* Lien de retour */
.back-link_carnetmedical {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #d53bdd ;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-link_carnetmedical:hover {
    background-color: #21b7f7f0;
  }
  .bouton-modifier_carnetmedical{
    background-color: #d53bdd;
    border: none;
    color: #fff;
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 0.65rem 1.1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 18px;
  }

  .label_carnetmedical {
    display: block;
    margin-top: 15px;
    margin-left:1px;
    font-size: 18px;
    color: #2c0c5a;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
 .label_carnetmedical::after {
    
    content: '';
    display: block;
    width: 98%;
    height: 0.75px;
    background-color: #3385b591;
    margin-top: 10px;
    margin-left: 5px;
  
  }
  
 .label_carnetmedical:hover::after {

    background-color: #fa20eff0;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
 .input_carnetmedical  {
    font-size: 15px; /* Augmentez la taille de la police */
background-color: #f7eff6;
    width: 100%;
    padding: 7px;
    border: 1px solid #cccccc80;
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }
  .selected-consultation p{
    font-size: 20px;
    margin: 7px;
    margin-top: 10px;
    padding: 1px;
    margin-left: 20px;
    color: #2c0c5a;

  }
  .selected-consultation h2{
    font-size: 32px;
padding: 10px;
color: #9717a8;

  }
  .voirpdf_carnetmedical{
    padding: 10px;
    color: #155590;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
  .voirpdf_carnetmedical:hover{
    padding: 12px;
    color: #7e15a0;
    text-decoration: none;
  }
  .consultation_carnetmedical{
    padding: 12px;
    color: #155da0;
    font-size: 14px;
    font-weight: bold;

  }

 