.container_loginmed {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh !important;
}


.left_loginmed  {

  width: calc(20% - 10px);
  float: left;
  margin-right: 10px;
}

.right_loginmed  {
  border-radius: 10px;
  background-color: #e1e1e17a;
  width: calc(70% - 10px);
  float: right;
  margin-right: 50px;
}

@media only screen and (max-width: 768px) {
.title_connection_loginmed  {
  font-weight: bold;
  font-size: 36px;
  color: #47194e;
  text-align: center; /* Centrage horizontal */
padding: 70px;
}


.sous-container_loginmed  {
  padding: 0px;
  border-radius: 15px;
  margin-top: 35px;
}

.right_loginmed label  {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 20px;
  color: #184789;
  display: block;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.right_loginmed input[type="password"],
.right_loginmed input[type="email"] {
  width: calc(90% - 14px);
  padding: 12px;
  border: 1px solid #cccccc80;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  background-color: #d9d9d9;
  margin-top: 17px;
  margin-left: 20px;


}

.right_loginmed input[type="password"]:hover,
.right_loginmed input[type="email"]:hover {
  background: linear-gradient(to bottom right, rgba(196, 2, 212, 0.2), rgba(31, 223, 217, 0.2));
}

.logo_loginmed  {
  width: 230px;
  height: auto;
  position: absolute;
  top: -70px;
  left: -20px;
}

.doctor_loginmed  {
  width: 320px;
  height: auto;
  margin-top: -120px;
}

.submit_loginmed  {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.submit_loginmed  button {
  background: linear-gradient(to bottom right, rgba(196, 2, 212, 0.67), rgba(31, 223, 217, 0.67));
  border: none;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0.65rem 1.1rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 18px;
}
}

@media only screen and (min-width: 768px) {
  .title_connection_loginmed  {
    font-weight: bold;
    font-size: 40px;
    color: #47194e;
    text-align: center; /* Centrage horizontal */
  padding: 70px;
  }
  
  
  .sous-container_loginmed  {
    padding: 0px;
    border-radius: 15px;
    margin-top: 30px;
  }
  
  .right_loginmed label  {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 20px;
  
    color: #184789;
    display: block;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .right_loginmed input[type="password"],
  .right_loginmed input[type="email"] {
    width: calc(90% - 14px);
    padding: 13px;
    border: 1px solid #cccccc80;
    border-radius: 8px;
    transition: border-color 0.3s ease;
    background-color: #d9d9d9;
    margin-top: 15px;
    margin-left: 20px;
  
  }
  
  .right_loginmed input[type="password"]:hover,
  .right_loginmed input[type="email"]:hover {
    background: linear-gradient(to bottom right, rgba(196, 2, 212, 0.2), rgba(31, 223, 217, 0.2));
  }
  
  .logo_loginmed  {
    width: 280px;
    height: auto;
    position: absolute;
    top: -70px;
    left: -20px;
  }
  
  .doctor_loginmed  {
    width: 400px;
    height: auto;
    margin-top: -150px;
  }
  
  .submit_loginmed  {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .submit_loginmed  button {
    background: linear-gradient(to bottom right, rgba(196, 2, 212, 0.67), rgba(31, 223, 217, 0.67));
    border: none;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 0.65rem 1.1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 20px;
  }
  }