.container_registpatient {
  background-color: #ffffff;
  padding: 0px;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  justify-content: flex-end; /* Alignement des éléments à droite */
}

nav li {
  margin-right: 60px;
  font-size: 18.5px;
  padding: 50px;
  cursor: pointer;
  color: white; /* Couleur du texte */
  text-decoration: none; /* Suppression du soulignement */
}

nav li:hover {
  text-decoration: none; /* Suppression du soulignement au survol */
}

.nav-menu li {
  padding: 5px;
  cursor: pointer;
}

.menu-toggle {
  display: none; /* Cachez le bouton de menu par défaut */
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    display: none; /* Cachez les données de la barre de navigation sur les petits écrans */
  }

  .menu-toggle {
    display: block; /* Affichez le bouton de menu sur les petits écrans */
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.3em;
  }

  .menu-toggle:focus {
    outline: none;
  }

  .nav-menu.open {
    display: block;
    position: absolute;
    top: 55px; /* Ajustez la position verticale du menu déroulant selon votre mise en page */
    left: 0;
    background: linear-gradient(to bottom, rgba(196, 2, 212, 0.7), rgba(31, 223, 217, 0.7));
    width: 30%;
  }

  .nav-menu.open li {
    padding: 10px;
    text-align: left;
    margin-left: 10px;
  }

  nav {
    background: linear-gradient(to bottom right, rgba(196, 2, 212, 0.67), rgba(31, 223, 217, 0.67));
    color: #ffffff !important;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title_patients_registpatient {
    font-size: 32px;
    padding: 1px;
    margin-top: 20px;
    margin-left: 30px;
    color: #47194E;
  }

  .editpatient_registpatient {
    width: 230px;
    height: 470px;
    position: absolute;
    top: 90px; /* Peut être ajusté si nécessaire */
    right: 0px;
  }

  .sous_container_registpatient {
    background-color: #e1e1e17a;
    padding: 0px;
    margin-right: 170px;
    margin-left: 5px;
    border-radius: 15px;
    margin-top: 40px;
  }

  .format_registpatient {
    display: flex;
  }

  .left_registpatient {
    width: calc(50% - 20px); /* Déduction de la marge pour maintenir le total à 100% */
    float: left; /* Aligner à gauche */
    margin-right: 5px; /* Espacement entre la partie gauche et la partie droite */
  }

  .right_registpatient {
    width: calc(50% - 20px); /* Déduction de la marge pour maintenir le total à 100% */
    float: right; /* Aligner à droite */
    margin-left: 5px; /* Espacement entre la partie gauche et la partie droite */
  }

  form {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 0px;
  }

  .label_registpatient {
    margin-left: 7px;
    display: block;
    margin-bottom: 18px;
    font-size: 17px;
    color: #2c0c5a;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .label_registpatient::after {
    content: '';
    display: block;
    width: 95%;
    height: 0.75px;
    background-color: #3385b591;
    margin-top: 0px;
    margin-left: 5px;
  }

  .label_registpatient:hover::after {
    background-color: #fa20eff0;
    transition: background-color 0.3s ease;
  }

  .input_registpatient,
  .select_registpatient,
  .datepicker_registpatient ,
  textarea {
    width: calc(100% - 14px);
    padding: 7px;
    border: 1px solid #cccccc80;
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }

  .input_registpatient:focus,
  .select_registpatient:focus,
  .datepicker_registpatient:focus,
  textarea:focus {
    outline: none;
    border-color: #43aedc;
  }

  .react-datepicker-wrapper {
    width: 100%;
    
  }

  .react-datepicker-popper {
    margin-left: 30px;
  }

  .notes-textarea {
    width: 99%; /* Définissez la largeur à 100% pour remplir la largeur du conteneur */
    height: 50px; /* Réglez la hauteur selon vos préférences */
    resize: vertical; /* Autoriser le redimensionnement vertical */
    margin-bottom: 0px; /* Espacement en bas */
  }

  .option_registpatient {
    font-size: 16px;
    color: #802273;
  }

  .cancel-button_registpatient {
    font-size: 14px;
    margin-top: 10px;
    position: absolute;
    right: 170px;
    background-color: #C402D4; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 50px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s; /* Animation de transition */
  }

  .cancel-button_registpatient:hover {
    font-size: 15px;
    background-color: #e4242a; /* Changement de couleur au survol */
  }

  .confirm-button_registpatient {
    margin-top: 10px;
    font-size: 14px;
    position: absolute;
    right: 325px;
    background-color: #0cb2ac; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 50px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s; /* Animation de transition */
  }

  .confirm-button_registpatient:hover {
    font-size: 15px;
    background-color: #16b556; /* Changement de couleur au survol */
  }
}

@media only screen and (min-width: 768px) {
  nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: flex-end; /* Alignement des éléments à droite */
  }
  
  nav li {
    margin-right: 60px;
    font-size: 18.5px;
    padding: 50px;
    cursor: pointer;
    color: white; /* Couleur du texte */
    text-decoration: none; /* Suppression du soulignement */
  }
  
  nav li:hover {
    text-decoration: none; /* Suppression du soulignement au survol */
  }
  

  nav {
    background: linear-gradient(to bottom right, rgba(196, 2, 212, 0.67), rgba(31, 223, 217, 0.67));
    color: #ffffff !important;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
  }

  .title_patients_registpatient {
    font-size: 34px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 25px;
    color: #47194E;
  }

  .editpatient_registpatient {
    width: 310px;
    height: 570px;
    position: absolute;
    top: 100px; /* Peut être ajusté si nécessaire */
    right: 10px;
  }

  .sous_container_registpatient {
    background-color: #e1e1e17a;
    padding: 10px;
    margin-right: 300px;
    margin-left: 70px;
    border-radius: 15px;
    margin-top: 50px;
  }

  .format_registpatient {
    display: flex;
  }

  .left_registpatient {
    width: calc(50% - 20px); /* Déduction de la marge pour maintenir le total à 100% */
    float: left; /* Aligner à gauche */
    margin-right: 20px; /* Espacement entre la partie gauche et la partie droite */
  }

  .right_registpatient {
    width: calc(50% - 10px); /* Déduction de la marge pour maintenir le total à 100% */
    float: right; /* Aligner à droite */
    margin-left: 20px; /* Espacement entre la partie gauche et la partie droite */
  }

  form {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .label_registpatient{
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    color: #2c0c5a;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .label_registpatient::after {
    content: '';
    display: block;
    width: 98%;
    height: 0.75px;
    background-color: #3385b591;
    margin-top: 0px;
    margin-left: 4px;
  }

  .label_registpatient:hover::after {
    background-color: #fa20eff0;
    transition: background-color 0.3s ease;
  }
  

  .input_registpatient,
  .select_registpatient,
  .datepicker_registpatient ,
  textarea {
    width: calc(100% - 14px);
    padding: 7px;
    border: 1px solid #cccccc80;
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }

  .input_registpatient:focus,
  .select_registpatient:focus,
  .datepicker_registpatient:focus,
  textarea:focus {
    outline: none;
    border-color: #5290ab;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }
 
  .option_registpatient {
    font-size: 16px;
    color: #802273;
  }

  .notes-textarea  {
    width: 99%; /* Définissez la largeur à 100% pour remplir la largeur du conteneur */
    height: 50px; /* Réglez la hauteur selon vos préférences */
    resize: vertical; /* Autoriser le redimensionnement vertical */
    margin-bottom: 0px; /* Espacement en bas */
  }

  .cancel-button_registpatient {
    margin-top: 10px;
    font-size: 16px;
    position: absolute;
    right: 300px;
    background-color: #C402D4; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 50px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s; /* Animation de transition */
  }

  .cancel-button_registpatient:hover {
    font-size: 18px;
    background-color: #e4242a; /* Changement de couleur au survol */
  }

  .confirm-button_registpatient {
    margin-top: 10px;
    font-size: 16px;
    position: absolute;
    right: 465px;
    background-color: #0cb2ac; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 50px; /* Espacement interne */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    transition: background-color 0.3s; /* Animation de transition */
  }

  .confirm-button_registpatient:hover {
    font-size: 18px;
    background-color: #16b556; /* Changement de couleur au survol */
  }
}