.container {
  background-color: #ffffff;
  padding: 0px;
}




.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  padding: 5px;
  cursor: pointer;
  
}

.menu-toggle {
  display: none; /* Cachez le bouton de menu par défaut */
}
.supprimer{
  
  width: 400px;
  height: auto;
  position: absolute; /* Positioning */
  margin-bottom: 14rem; /* Positioning */
  transform: translate(-80%, -10%); /* Centering */
  left: 65%;
}
/* Modal pour l'ajout de patient */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.modal-content {
  position: relative; /* Pour que la croix de fermeture soit positionnée relativement */
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal-content label{
  color: rgb(16, 47, 60);
  font-size: 19px;
  font-weight: bold;
  border-radius: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.modal-content input[type="text"],
input[type="number"],
select,
textarea {
  background-color: #30598328;
  margin: 15px;
  padding: 7px;
  border: 1px solid #cccccc80;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.modal-content  input[type="text"],
input[type="number"],
:focus,
select,:focus,
textarea:focus {
  outline: none;
  border-color: #43aedc;
  
}
.modal-content button {
  padding:10px;
  outline: none;
  border-color: #43aedc;
  background: #43819bb8;
  margin: 10px;
  border: 1px solid #cccccc80;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  color:rgb(27, 20, 45);
  font-weight: 600;
  cursor: pointer;
}
.modal-content button:hover {
  background: #9d65c2b8;
}
.modal-content h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  margin-bottom:  30px;
  color: rgb(10, 60, 91) ;
  font-size: 25px;
  
}
.close {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  padding: 1px 8px;
  border-radius: 6px 10px;
  font-size: 20px;
 

}
.close:hover{
  background-color: rgba(242, 27, 27, 0.856);
}



.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

/* Confirmation modal pour la suppression de patient */
.confirmation-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}


.confirmation-modal p {
  background-color: #fff;
  margin: 10px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.confirmation-modal button {
  margin: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
}

.confirmation-modal button:hover {
  background-color: #e53935; /* Rouge */
  color: #fff;
}

.confirmation-modal button:last-child {
  background-color: #4caf50; /* Vert */
  color: #fff;
}







@media only screen and (max-width: 768px) {
  .nav-menu {
    display: none; /* Cachez les données de la barre de navigation sur les petits écrans */
  }

  .menu-toggle {
    display: block; /* Affichez le bouton de menu sur les petits écrans */
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.3em;
  }

  .menu-toggle:focus {
    outline: none;
  }
  .nav-menu.open {
    display: block;
    position: absolute;
    top: 55px; /* Ajustez la position verticale du menu déroulant selon votre mise en page */
    left: 0;
    background: linear-gradient(to bottom, rgba(196, 2, 212, 0.7), rgba(31, 223, 217, 0.7));
    width: 30%;
    
  }
  
  .nav-menu.open li {
    padding: 10px;
    text-align: left;
    margin-left: 10px;
  }
  nav {
    background: linear-gradient(to bottom right, rgba(196, 2, 212, 0.67), rgba(31, 223, 217, 0.67));
    color: #ffffff;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title_patients {
    font-size: 32px;
    padding: 1px;
    margin-top: 20px;
    margin-left: 30px;
    color: #47194E;
  }
  
  .consult {
    width: 80px;
    height: 220px;
    position: absolute;
    top: 420px; /* Peut être ajusté si nécessaire */
    right: 0px;
  }
  .patient {
    width: 250px;
    height: auto;
    margin-left: 20px;
   margin-bottom: -70px;
   transform: translateX(-10%);

   
    right: 60px; /* Positionne l'image sur le côté droit */
}
  .table-container {
    background-color: #e1e1e17a;
    padding: 20px;
    margin-right: 10px;
    margin-left: 0px;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .format {
   
    background-color: #ffffff;
    padding: 1px;
    margin-right: 40px;
    margin-left: 8px;
    margin-top: 5px;
  
}
  
  .search-container {
    display: flex;
    margin-bottom: 15px;
   
  }
  
  .search-container input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .search-container button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
   
    color: #fff;
    cursor: pointer;
    margin-left: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  
  }
  .clean-button{
    background: linear-gradient(to right, rgba(196, 2, 212, 1), rgba(31, 223, 217, 1));
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .ajout-button {
    background-color: #60a5d7bc;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .ajout-button:hover {
    background-color: #41d5d5;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
  }
  
  table th,
  table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  table th {
    cursor: pointer;
    background-color: #60a5d7b2;
  }
  
  table th:hover {
    background-color: #60a5d7;
  }
  
  table td:last-child button {
    background-color: #397ab2;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  table td:last-child button:hover {
    background-color: #1e4d76;
  }
  
  table td:last-child button:first-child {
    background-color: #8f4ca8;
  }
  
  table td:last-child button:first-child:hover {
    background-color: #762793;
  }
}
@media only screen and (min-width: 768px) {
 

  nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: flex-end; /* Alignement des éléments à droite */

  }

  nav li {
    margin-right:60px;
    font-size: 18.5px;
    padding: 50px;
    cursor: pointer;
  }
  nav {
    background: linear-gradient(to bottom right, rgba(196, 2, 212, 0.67), rgba(31, 223, 217, 0.67));
    color: #ffffff;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
   
  }
  .title_patients {
    font-size: 36px;
    padding: 1px;
    margin: 70px 70px; /* Adjust margin to center vertically */
    color: #47194E;
    position: absolute; /* Positioning */
    top: 10%; /* Positioning */
    left: 52%; /* Positioning */
    transform: translate(-80%, -10%); /* Centering */
}

  
  .consult {
    width: 300px;
    height: 400px;
    margin-top: 250px; 

  }
  .patient {
    width: 300px;
    height: auto;
    margin-left: 70px;
   margin-bottom: -90px;
   transform: translateX(-10%);

   
    right: 60px; /* Positionne l'image sur le côté droit */
}
  
  .table-container {
    background-color: #e1e1e17a;
    padding: 20px;
    margin-right: 10px;
    margin-left: 80px;
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .format {
   
      background-color: #ffffff;
      padding: 1px;
      margin-right: 50px;
      margin-left: 8px;
      margin-top: 5px;
    
  }
  .right {
    width: calc(20% - 10px); /* Déduction de la marge pour maintenir le total à 100% */
    float: right; /* Aligner à gauche */
    margin-right: 15px; /* Espacement entre la partie gauche et la partie droite */
    
  }  
  .left {
    width: calc(80% - 10px); /* Déduction de la marge pour maintenir le total à 100% */
    float: left ; /* Aligner à droite */
    margin-left:1px; /* Espacement entre la partie gauche et la partie droite */
    
  

}
  
  
  .search-container {
    display: flex;
    margin-bottom: 20px;
   
  }
  
  .search-container input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 17px;
  }
  
  .search-container button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;

    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  
  }
  .clean-button{
    background: linear-gradient(to right, rgba(196, 2, 212, 1), rgba(31, 223, 217, 1));
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  }
  
  .ajout-button {
    background-color: #60a5d7bc;
    color: #fff;
  
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .ajout-button:hover {
    background-color: #41d5d5;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
  }
  
  table th,
  table td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
  }
  
  table th {
    cursor: pointer;
    background-color: #60a5d7b2;
  }
  
  table th:hover {
    background-color: #60a5d7;
  }
  
  table td:last-child button {
    background-color: #397ab2;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1px;
  }
  
  table td:last-child button:hover {
    background-color: #1e4d76;
  }
  
  table td:last-child button:first-child {
    background-color: #8f4ca8;
  }
  
  table td:last-child button:first-child:hover {
    background-color: #762793;
  }
}

